@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmado com sucesso!";
}
<div style="padding-left: 30vh;">
    <h1 style="color: #2593c4">@ViewData["Title"]</h1>
    <h1>Agora basta acessar sua conta.</h1>
</div>
