@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p style="color: white">Informações: <a href="https://aws.amazon.com/pt/rds/" style="color: #2593c4">AlpacaPay é uma solução web que interage com o RDS(AWS)</a>.</p>
</div>
