@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>O uso dos seus dados são apenas para fins temporários, caso necessário você pode ir na aba de configuração de usuário e deletar todas as informações armazenadas pelo seu usuário.</p>
